<tr class="hover:bg-gray-700 transition-colors duration-200">
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-300">
    <%= dataset.name %>
  </td>
  <td class="px-6 py-4 text-sm text-gray-300">
    <%= truncate(dataset.description, length: 100) %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-300">
    <%= dataset.dataset_records.count %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-300">
    <%= dataset.experiments.count %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <%= link_to 'View', dataset_path(dataset), class: 'text-indigo-400 hover:text-indigo-300 transition-colors duration-200 mr-3' %>
    <%= link_to 'Edit', edit_dataset_path(dataset), class: 'text-indigo-400 hover:text-indigo-300 transition-colors duration-200' %>
  </td>
</tr>